h1, p, h2, h3, h4
{
    color: #e66b6f
}

.parent 
{ 
    display: grid; 
    grid-template-columns: repeat(5, 1fr); 
    grid-template-rows: repeat(5, 1fr); 
    grid-column-gap: 0px;
    grid-row-gap: 0px; 
    overflow: auto; 
}


.div1 
{
    grid-area: 1 / 2 / 6 / 3; 
} 

.div3 
{ 
    grid-area: 1 / 4 / 6 / 5;
} 

.div2 
{

     grid-area: 1 / 3 / 6 / 4; 
     border-radius: 15px 15px 15px 15px; 
     background-color: #554336;
     margin-top: 100px;
} 



.flex-container
{
    display: flex;
    justify-content: center;
}

.box1
{
    padding: 100px;     
}

.box2
{
    
    padding-top: 125px;
    padding-left: 125px;
    padding-bottom: 125px; 
    padding-right: 100px;
    
    
}

/* navbar */ 

.nav-container 
{
    display: flex;
    flex-direction: row-reverse;
}
  
.nav-container > div 
{
    padding: 30px;
    font-size: 15px;
    flex-wrap: nowrap;
}

.nav {
    list-style-type: none;
    padding: auto;
}

/* unvisited link */
a:link {
color: black;
text-decoration: none!important;
}

/* visited link */
a:visited {
color: black;
text-decoration: none!important;
}

/* mouse over link */
a:hover {
color: black;
text-decoration: none!important;
}

/* selected link */
a:active {
color: black;
text-decoration: none!important;
}

.button4 {border-radius: 12px;}


/*          CARDS */

.card-box1, .card-box2, .card-box3
{
    padding: 25px; 
}